<form action="/pesquisar" method="POST">

    <input type="text" name="titulo" class="form-control" placeholder="Pesquisar filme">

    <button class="btn btn-primary mt-3">
        Pesquisar
    </button>

</form>